
<h3>Your ballot was successfully encrypted</h3>

<p>
Please <b><u>keep a record</u></b> of your smart ballot tracker [<a onclick="BOOTH.show_receipt(); return false;" href="#">print</a>]
&nbsp; [<a target="_blank" href="mailto:?subject=Helios%20Receipt - {$T.election.name}&body=%0AThis is your smart ballot tracker for {$T.election.name}%0A%0A  {$T.encrypted_vote_hash}">email</a>]:<br /><br />

<b><tt style="font-size: 16pt;">&nbsp;&nbsp;&nbsp;{$T.encrypted_vote_hash}</tt></b><br /><br />

</p>

<p>
At this stage, your ballot has been prepared locally on your computer
 and has not yet been sent to the server. The next step is to send your
 vote to the server.
</p>

<button id="proceed_button" onclick="BOOTH.cast_ballot();">Proceed to Cast</button><br />
<div id="loading_div"></div>



<form method="POST" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
</form>

<p>You can optionally <a href="javascript:save_ballot()">save your encrypted ballot</a>.</p>
