*~
*.bbl
*.blg
*.dvi
*.rubbercache
*.install
_build
_build-debug
_releases
_run
_testdata
_docker
venv
__pycache__
.hypothesis
node_modules
geckodriver.log
env.sh
node_modules
*.stories.mjs
scaling.*.json
