.classic-vote-review {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  max-width: 500px;
}

.review-encrypt-section__question-title {
  margin-top: 2px;
  margin-bottom: 
}

.classic-vote-review__answers-to-question {
  background: #c5ffcc;
  border-radius: 10px;
  padding: 15px 40px;
  margin: 16px 0 20px 0;
}

.classic-vote-review__answers-to-question:last-child {
  margin-bottom: 5px;
}
