.input-credential-section__container {
  padding: 30px;
}

.input-credential-section {
  background: var(--box-blue);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.input-credential-section__instruction-container {
  max-width: 300px;
  margin: 0 auto;
}

.input-credential-section__instruction {
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.input-credential-section__button {
  padding: 8px 28px !important;
}
