:root {
  --majority-judgement-color-0: #b02800; /* Reject / À rejeter */
  --majority-judgement-color-1: #ff6503; /* Poor / insuffisant */
  --majority-judgement-color-2: #ff9f00; /* Acceptable / Passable */
  --majority-judgement-color-3: #f5c823; /* Fair / Assez bien */
  --majority-judgement-color-4: #7dd162; /* Good / Bien */
  --majority-judgement-color-5: #2eb430; /* Very good / Très bien */
  --majority-judgement-color-6: #0f7c10; /* Excellent / Excellent */
}

.majority-judgement-use-color-0 {
  color: var(--majority-judgement-color-0);
}

.majority-judgement-use-color-1 {
  color: var(--majority-judgement-color-1);
}

.majority-judgement-use-color-2 {
  color: var(--majority-judgement-color-2);
}

.majority-judgement-use-color-3 {
  color: var(--majority-judgement-color-3);
}

.majority-judgement-use-color-4 {
  color: var(--majority-judgement-color-4);
}

.majority-judgement-use-color-5 {
  color: var(--majority-judgement-color-5);
}

.majority-judgement-use-color-6 {
  color: var(--majority-judgement-color-6);
}


.majority-judgement-use-background-color-0 {
  background-color: var(--majority-judgement-color-0);
}

.majority-judgement-use-background-color-1 {
  background-color: var(--majority-judgement-color-1);
}

.majority-judgement-use-background-color-2 {
  background-color: var(--majority-judgement-color-2);
}

.majority-judgement-use-background-color-3 {
  background-color: var(--majority-judgement-color-3);
}

.majority-judgement-use-background-color-4 {
  background-color: var(--majority-judgement-color-4);
}

.majority-judgement-use-background-color-5 {
  background-color: var(--majority-judgement-color-5);
}

.majority-judgement-use-background-color-6 {
  background-color: var(--majority-judgement-color-6);
}
