.majority-judgment-vote-big-candidates-list {
  --majority-judgment-grade-ratio: 8%; /* default, overriden by React component */
}

.majority-judgment-vote-big-candidates-list--wide {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px;
}

@media screen and (min-width: 1450px) {
  .majority-judgment-vote-big-candidates-list--wide {
    left: 10vw;
    right: 10vw;
  }
}

.majority-judgment-vote-big-candidate {
  --border-radius-size: 6px;
  display: flex;
  background: #eeeeee;
  border-radius: var(--border-radius-size);
  margin: 18px 0;
}

.majority-judgment-vote-big-candidate--with-alert {
  border: 1px solid red;
}

.majority-judgment-vote-big-candidate__candidate-info {
  min-width: 120px;
  width: 150px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.majority-judgment-vote-big-candidate__available-grades {
  flex-grow: 1;
  display: flex;
}

.majority-judgment-vote-big-candidate__grade {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  /*flex-basis: var(--majority-judgment-grade-ratio);*/
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 12px;
  overflow: hidden;
}

.majority-judgment-vote-big-candidate__grade:last-child {
  border-right: initial;
  border-radius: 0 var(--border-radius-size) var(--border-radius-size) 0;
}

.majority-judgment-vote-big-candidate__grade__input {
  opacity: 0;
  width: 1em;
  height: 1em;
  position: absolute;
  left: -100px;
}

.majority-judgment-vote-big-candidate__grade__label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 3px;
  height: 100%;
  box-sizing: border-box;
}

.majority-judgment-vote-big-candidate__grade__label:hover {
  border: 1px solid #aaa;
  border-radius: initial;
}

.majority-judgment-vote-big-candidate__grade:last-child .majority-judgment-vote-big-candidate__grade__label:hover {
  border-radius: 0 var(--border-radius-size) var(--border-radius-size) 0;
}

.majority-judgment-vote-big-candidate__candidate-info__label {
  padding: 6px 10px;
}

.majority-judgment-vote-big-candidate__candidate-info, .majority-judgment-vote-big-candidate__grade {
  border-right: 2px solid white;
  min-height: 42px;
}

.majority-judgment-vote-big-candidate__grade__label__label {
  flex-grow: 1;
}

.majority-judgment-vote-big-candidate__grade {
  color: var(--majority-judgment-available-grade-color);
}

.majority-judgment-vote-big-candidate__grade__input:checked ~ label {
  background: var(--majority-judgment-available-grade-color);
}

.majority-judgment-vote-big-candidate__grade__input:checked ~ .majority-judgment-vote-big-candidate__grade__label .majority-judgment-vote-big-candidate__grade__label__label {
  color: white;
}
