.nice-button {
  border: 1px solid;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
}

.nice-button:hover {
  cursor: pointer;
}

.nice-button[disabled]:hover {
  cursor: initial;
}

.nice-button[disabled] {
  opacity: 0.5;
}

.nice-button--blue {
  background: #1097e6;
  color: white;
  border-color: #0046ca;
  background-image: linear-gradient(to bottom, #7ed0ff, #1097e6 66%, #0f8ad3);
}

.nice-button--white {
  color: black;
  border-color: #847f7f;
  background: white;
  background-image: linear-gradient(to bottom, #fff, #ddd 66%, #bfbebe);
}

.nice-button--default {
  background: #9d9d9d;
  color: white;
  border-color: #424242;
  background-image: linear-gradient(to bottom, #c4c4c4, #888 66%, #606060);
}
