.page-header {
  border-radius: 10px 10px 0 0;
  background: #363636;
  color: white;
  display: flex;
  padding: 8px 2px;
}

@media screen and (max-width: 640px) {
  .page-header {
    padding: 8px 2px;
  }

  .page-header__titles__election-name {
    font-size: 20px;
  }

  .page-header__titles__election-description {
    font-size: 12px;
  }
}

@media screen and (min-width: 640px) {
  .page-header {
    padding: 14px 10px;
  }

  .page-header__titles__election-name {
    font-size: 30px;
  }

  .page-header__titles__election-description {
    font-size: 17px;
  }
}

.page-header__logo {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__logo__image {
  margin: 5px;
  max-height: 70px;
  min-width: 42px;
  width: 100%;
  object-fit: contain;
}

.page-header__titles {
  text-align: center;
  flex: 1 0 60%;
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
}

.page-header__titles__election-name, .page-header__titles__election-description {
  line-height: 1.4em;
  font-family: 'Ubuntu', arial, serif;
  font-weight: lighter;
  margin: 0;
}

.page-header__right {
  flex: 0 0 20%;
}
