.whole-vote-recap {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  max-width: 500px;
  font-size: smaller;
}

/* TODO: rework namings of classes and move each one to relevant .css file */

.review-encrypt-section__question-title {
  margin-top: 2px;
  margin-bottom: 
}

.classic-vote-review__answers-to-question {
  background: #e6f8fd; /* <- pale blue. Another possibility would be pale green: #c5ffcc; */
  border-radius: 10px;
  padding: 15px 40px;
  margin: 16px 0 20px 0;
}

.classic-vote-review__answers-to-question:last-child {
  margin-bottom: 5px;
}
