@import url('style.css');
@import url('superfish.css');

/* UI Components try to respect [BEM](http://getbem.com/naming/) for the naming of their CSS classes */
@import "./frontend/booth/components/PageHeader.css";
@import "./frontend/booth/components/Breadcrumb.css";
@import "./frontend/booth/components/PageFooter.css";
@import "./frontend/booth/components/NiceButton.css";
@import "./frontend/booth/components/NiceInput.css";


ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
#wrapper {
  min-height: 0px;
  font-size: 16px;
}
#header {
  color: #ffffff;
  height: auto;
}
#main {
  padding: 10px;
}
#footer #bottom {
  line-height: 3em;
}
#header a {
  color: #ffffff;
}
button {
  cursor: pointer;
}
.current_step {
  text-align: center;
  font-size: 28px;
  padding-bottom: 28px;
}
.hybrid_box {
  border-style: solid;
  border-width: 1px;
  background: #E5E5E5;
  margin-bottom: 2em;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 80%;
  padding: 3px;
  line-height: 2.2ex;
}
.nh_explain {
  font-size: 90%;
  line-height: 2.2ex;
  font-style: italic;
  margin-bottom: 2ex;
}
.result_question {
  font-weight: bold;
  font-style: italic;
}
.result_jsquery {
  font-family: monospace;
  font-size: 90%;
  background-color: #EEEEEE;
}
.lang_box {
  float: right;
}


body {
  background: #E5E4E2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  line-height: initial;
}

@media screen and (max-width: 640px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 640px) {
  body {
    margin: 8px;
  }
}

.page {
  max-width: 800px;
  margin: 0 auto;
}

.page-body {
  background: white;
  display: flex;
  flex-direction: column;
}

.cookie-disclaimer {
  padding: 10px;
  margin: 10px;
}
